body {
    background-color: lightblue;
  }
  h1,h2{
    text-align :center;
    color: rgb(225, 64, 64);
    outline: 2px solid rgb(24, 29, 174); 
    }
    Form {
        text-align: center;
        color: rgb(0, 0, 0);
    }
    form{
        background: #a9109a;
        }
